body {
	font-family: verdana;
	font-size: 16px;
}
h1 {
	text-align: center;
}
img.landscape {
	max-height: 240px;
	max-width: 480px;
}
img.landmed {
	max-height: 360px;
	max-width: 720px;
}
img.landbig {
	max-height: 480px;
	max-width: 960px;
}
img.portrait {
	max-height: 480px;
	max-width: 240px;
}
img.portmed {
	max-height: 720px;
	max-width: 360px;
}
img.portbig {
	max-height: 960px;
	max-width: 480px;
}
img.wide {
	max-height: 240px;
	max-width: 800px;
}
img.tall {
	max-height: 800px;
	max-width: 240px;
}

.heroine-image-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.heroine-image {
	display: flex;
	width: 346px;
	min-width: 320px;
	max-width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.heroine-image-container a {
	text-align: center;
	font-weight: bold;
	background-color: #EEE;
	padding: 13px;
}

.heroine-image-container img {
	width: 100%;
}

@media (max-width: 1778px) {
	.heroine-image-container {
		flex-direction: column;
		justify-content: unset;
		align-items: center;
	}
	
	.heroine-image {
		width: 500px;
		max-width: 100%;
	}
}

.side-nav h2 {
	margin: 6px 0 10px 16px;
	color: #E1E1E1;
}

/* Style the side-nav links and the dropdown button */
.side-nav a, .dropdown-button {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #E1E1E1;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

/* On mouse-over */
.side-nav a:hover, .dropdown-button:hover {
	background-color: #5C626E;
	color: #f1f1f1;
}

.dropdown-button {
	position: relative;
	padding-right: 30px;
}

/* Add an active class to the active dropdown button */
.dropdown-active {
	background-color: #1E71E6;
	color: white;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
	display: none;
	background-color: #363940;
	padding-left: 20px;
}

/* Style the caret down icon */
.caret-down {
	padding-right: 8px;
	position: absolute;
	top: 6px;
	right: 0;
}

a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

.main {
	max-width: 100%;
	overflow-x: hidden;
}

/* Fixed side-nav, full height */
.side-nav {
	height: 100%;
	background-color: #40444C;
	overflow-x: scroll;
	padding-top: 20px;
}

.nav-wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

@media (max-width: 800px) {
	h1 {
		padding: 0 50px;
	}
	
	.nav-wrapper {
		left: -100%;
		background-color: rgba(127,127,127,0.6);
		cursor: pointer;
	}
	
	.nav-wrapper.menu-active {
		display: block;
		left: 0;
	}
	
	.side-nav {
		position: absolute;
		top: 0;
		left: -70%;
		width: 70%;
		transition: left 0.6s ease;
		cursor: initial;
	}
	
	.menu-active .side-nav {
		left: 0;
	}
	
	.menu-button {
		z-index: 1;
		position: fixed;
		top: 20px;
		left: 20px;
		width: 30px;
		height: 30px;
		text-align: center;
		background-color: #40444C;
		color: white;
		font-weight: bold;
		line-height: 28px;
		cursor: pointer;
		border: 2px white solid;
	}
}

@media (min-width: 801px) {
	.nav-wrapper {
		width: 20%;
	}
	
	.side-nav {
		width: 100%;
	}
	
	.menu-button {
		display: none;
	}
	
	/* Main content - large screen, margins included for static sidebar	*/
	.main {
		margin-left: 20%; /* Same as the width of the side-nav */
		margin-right: 20%; /* Same as the width of the side-nav */
		padding: 0px 20px;
	}
}

/* large desktop */
@media (min-width: 1251px) {
	h2.full { display: block; }
	h2.abbreviated { display: none; }
}

/* small desktop */
@media (max-width: 1250px) {
	h2.full { display: none; }
	h2.abbreviated { display: block; }
}

/* mobile */
@media (max-width: 800px) {
	h2.full { display: block; }
	h2.abbreviated { display: none; }
}