body {
	font-family: verdana;
}
h1 {
	text-align: center;
}
img.landscape {
	max-height: 240px;
	max-width: 480px;
}
img.portrait {
	max-height: 500px;
	max-width: 300px;
}
img.wide {
	max-height: 240px;
	max-width: 800px;
}